:root {
  --primary-color: #36b37e;
  --secondary-color: #c5e9da;
  --light-color: #ebf0ee;
  --dark-color: #172b4d;
  --nav-text-color: #344563;
  --card-text-color: #3a4a42;
  --white-bg-color: #e5e5e5;
  --white-color: #fff;
  --card-bg-color: #ebf0ee;
  --card-br-color: #d0d9d4;
  --button-enabled-color: #36b37f;
  --button-pressed-color: #008552;
  --button-hover-color: rgba(54, 179, 127, 0.24);
  --sections-max-width: 2160px;
  --wrapper-max-width: 1280px;
  --html-test-background: white;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.header {
  width: 100vw;
  max-width: var(--sections-max-width);
  height: 5vh;
  min-height: 60px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white-color);
}

.burger {
  width: 18px;
  height: 12px;
  margin-top: 25px;
  margin-right: 30px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: pointer;
}

.burger .bar {
  border-radius: 20px;
  height: 2px;
  background-color: var(--dark-color);
}

#main {
  background-color: var(--html-test-background);
}

.main {
  width: 100vw;
  max-width: var(--sections-max-width);
  min-height: 770px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-image: url("./assets/figure/header-bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: var(--white-color);
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main h1 {
  margin-top: 5%;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 52px;
  text-align: center;
  color: var(--dark-color);
}

.main .h1__sub {
  width: 80%;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 52px;
  text-align: center;
  color: var(--primary-color);
}

p,
.main p {
  width: 82%;
  min-width: 300px;
  margin-top: 5%;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--dark-color);
}

.span__br2 {
  display: none;
}

.main__social-media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__social-media ul {
  width: 50%;
  max-width: 230px;
  padding-left: 0;
  margin: 5% 0 10% 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.main__arrow-button {
  width: 40px;
  height: 40px;
  margin: 20% auto 5% auto;
  border-radius: 50%;
}

.main__arrow-button:hover {
  box-shadow: var(--button-hover-color) 0 0 0 0;
}
